<mat-card>
    <mat-card-title>{{userData?.firstName}} {{userData?.lastName}}</mat-card-title>
    <mat-card-subtitle>{{userData?.email}}</mat-card-subtitle>
    <mat-card-content>
        <p>Birthdate: {{userData?.birthDate | date: 'yyyy-MM-dd'}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="editUserEvent.emit(userData)">EDIT</button>
        <button mat-button (click)="deleteUserEvent.emit(userData?.id)">DELETE</button>
    </mat-card-actions>
</mat-card>
